@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 1;
    margin: 1;
    box-sizing: border-box;
}

.body {
    background-color: rgb (226, 226, 226);
}

.heading {
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px 0px 40px;
}

.header-buttons {
    display: flex;
    justify-content: space-between;
    gap:24px;
    }

.nav-list {
    display: flex;
    justify-content: space-around;
    gap: 55px;
    }

    .btn{
        background-color: orange;
        height: 53px;
        width: 140px;
    }

    .info {
        margin-bottom:15px;
    }

.edu-logo {
    font-family: Inter;
    font-size: 35px;
    font-weight: 300px;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: 80px;
    padding-left: 60px;
    margin-bottom: 150px;
    }
    
    .avatars{
        margin-bottom: 40px;
    }

   .list {   
   display: flex;
   justify-content: space-around;
   margin-bottom: 25px;
   } 

   .list-item {
    width: 538px;
    height: 103px;
   }

   .list-item-2 {
    width: 350px;
    height: 498px;
   }

   .title-color {
    color: orange;
   }


